<%- include('../inc/head') %>
<%- include('../inc/header') %>

<div class="title__phone">
    <h1>Обраний телефон</h1>
</div>
<br>

<div class="container__select__phone">
    <div class="select_phone">Phone:<%= items.name %></div>
    <div class="price_phone">Price:<%= items.price %></div>
    <div class="wrapper__img_select img">
        <img src="<%= items.img %>" alt="img">
    </div>
    
</div>
